

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: 	#A9A9A9;
    padding-top: 100px;  /* adjust based on navbar height */
}

#header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: #000000;
    z-index: 1000;
    padding: 10px 0;       /* was too large before */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    gap: 40px;
}

.profile-pic {
    width: 350px;        /* adjust size */
    height: 350px;
    border-radius: 50%;  /* makes the image a perfect circle */
    object-fit: cover;   /* crop the image cleanly inside the circle */
    border: 4px solid #00008B; 
    margin-right: 100px;

}

.container{
    padding: 2px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 90px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #880808;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 30px;
    font-size: 20px;
}

.header-text h1{
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}



--About Section--
#about{
    padding: 100px 0;
    color:#fff;
}
#about h1{
    text-align: center;
    margin-top: 150 px;
    
}
.row{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}